# Reference: https://pykickstart.readthedocs.io/en/latest/kickstart-docs.html

{% if build_os == "almalinux-8" -%}
# nbc8: the mention of patchmonkey below is a lie.
repo --install --name=patchmonkey-almalinux-8-appstream --baseurl=https://archive.linux.duke.edu/almalinux/8/AppStream/x86_64/os/
repo --install --name=patchmonkey-almalinux-8-baseos --baseurl=https://archive.linux.duke.edu/almalinux/8/BaseOS/x86_64/os/
repo --install --name=patchmonkey-almalinux-8-extras --baseurl=https://archive.linux.duke.edu/almalinux/8/extras/x86_64/os/
repo --install --name=patchmonkey-epel-8 --baseurl=https://archive.linux.duke.edu/epel/8/Everything/x86_64/
{% endif -%}
{% if build_os == "almalinux-9" -%}
repo --install --name=patchmonkey-almalinux-9-appstream --baseurl=https://yum.oit.duke.edu/patchmonkey/el9/almalinux-9-appstream
repo --install --name=patchmonkey-almalinux-9-baseos --baseurl=https://yum.oit.duke.edu/patchmonkey/el9/almalinux-9-baseos
repo --install --name=patchmonkey-almalinux-9-extras --baseurl=https://yum.oit.duke.edu/patchmonkey/el9/almalinux-9-extras
repo --install --name=patchmonkey-epel-9-next --baseurl=https://yum.oit.duke.edu/patchmonkey/el9/epel-next
repo --install --name=patchmonkey-epel-9 --baseurl=https://yum.oit.duke.edu/patchmonkey/el9/epel
{% endif -%}
{% if build_os == "almalinux-9-dcc" -%}
repo --install --name=patchmonkey-almalinux-9-appstream --baseurl=https://yum.oit.duke.edu/patchmonkey/el9-dcc/almalinux-9-appstream
repo --install --name=patchmonkey-almalinux-9-baseos --baseurl=https://yum.oit.duke.edu/patchmonkey/el9-dcc/almalinux-9-baseos
repo --install --name=patchmonkey-almalinux-9-extras --baseurl=https://yum.oit.duke.edu/patchmonkey/el9-dcc/almalinux-9-extras
repo --install --name=patchmonkey-epel-9-next --baseurl=https://yum.oit.duke.edu/patchmonkey/el9-dcc/epel-next
repo --install --name=patchmonkey-epel-9 --baseurl=https://yum.oit.duke.edu/patchmonkey/el9-dcc/epel
{% endif -%}


lang en_US.UTF-8
keyboard us

network --bootproto=dhcp --hostname={{ template_vm_hostname }}
rootpw --iscrypted {{ template_password_crypt }}
sshkey --username root "{{ template_ssh_pubkey }}"

# Don't worry, the firewall will be enabled during provisioning
firewall --disabled
timezone America/New_York --utc --ntpservers 152.3.250.1,152.3.250.2
bootloader --location=mbr --append="biosdevname=0 net.ifnames=0 dis_ucode_ldr"
text
skipx
zerombr
# TODO: Ensure that /dev/sda is logical for all uses
clearpart --all --initlabel --drives=sda
part /boot/efi --fstype efi --size=200 --asprimary
part /boot --fstype xfs --size=1024 --asprimary
part pv.3 --size=100 --grow
volgroup VolGroup00 --reserved-percent=10 pv.3
logvol / --name=root --vgname=VolGroup00 --size=25600
logvol /home --name=home --vgname=VolGroup00 --size=5120
logvol /srv --name=srv --vgname=VolGroup00 --size=5120
logvol swap --fstype swap --name=swap --vgname=VolGroup00 --recommended

firstboot --disabled
eula --agreed
services --enabled=NetworkManager,sshd,chronyd
reboot

%pre
# Enable persistent journal from the getgo
mkdir -p /var/log/journal
set -x -v
exec 1>/tmp/ks-pre.log 2>&1

# Once root's homedir is there, copy over the log.
while : ; do
    sleep 10
    if [ -d /mnt/sysimage/root ]; then
        cp /tmp/ks-pre.log /mnt/sysimage/root/
        logger "Copied %pre section log to system"
        break
    fi
done &
%end

%packages --ignoremissing --excludedocs
@core
redhat-lsb-core
curl
wget
net-tools
vim-enhanced
bash-completion
yum-utils
python36
python3-pip
# Don't install rhn/satellite stuff
-yum-rhn-plugin
-subscription-manager
-subscription-manager-rhsm
-subscription-manager-rhsm-certificates
# unnecessary firmware
-aic94xx-firmware
-atmel-firmware
-b43-openfwwf
-bfa-firmware
-ipw*-firmware
-ivtv-firmware
-iwl*-firmware
-libertas-usb8388-firmware
-ql*-firmware
-rt61pci-firmware
-rt73usb-firmware
-xorg-x11-drv-ati-firmware
-zd1211-firmware
-libertas-sd8686-firmware
-libertas-sd8787-firmware
%end

%post
set -x -v

exec 1>/root/ks-post.log 2>&1

find /etc/yum.repos.d -type f -not -name '*patchmonkey*' -exec rm {} \;

{% if build_os == "almalinux-8" -%}
dnf config-manager --save --setopt patchmonkey-almalinux*.gpgkey=https://archive.linux.duke.edu/almalinux/RPM-GPG-KEY-AlmaLinux-8
{% endif -%}

{% if "almalinux-9" in build_os -%}
dnf config-manager --save --setopt patchmonkey-almalinux*.gpgkey=https://archive.linux.duke.edu/almalinux/RPM-GPG-KEY-AlmaLinux-9
{% endif -%}

time dnf -y update

# setup grub rescue
cp -f /usr/lib/systemd/system/rescue.service /etc/systemd/system
sed -i "s,^ExecStart=.*,ExecStart=-/bin/bash -c 'exec /sbin/sushell'," /etc/systemd/system/rescue.service

# Disable persistent device naming
ln -s /dev/null /etc/udev/rules.d/70-persistent-net.rules

# Fix UseDNS because we have a hostname in /root/.authorized_keys.
# This is probably bad long term.
sed -i 's/.*UseDNS.*/UseDNS yes/' /etc/ssh/sshd_config

# cut drac
time dracut --no-hostonly --force

%end